<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MyVendor\GraphQLSampleModule\Api\GraphQLItemsRepositoryInterface" type="MyVendor\GraphQLSampleModule\Model\GraphQLItemsRepository" />
    <preference for="MyVendor\GraphQLSampleModule\Api\Data\GraphQLItemsInterface" type="MyVendor\GraphQLSampleModule\Model\GraphQLItems" />
    <preference for="MyVendor\GraphQLSampleModule\Api\Data\GraphQLItemsSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
</config>